
    // ========== Les couleurs ==========
    
	$white:				#fff;
	$black:				#000;
	
	$green:				#17a200;
	$red:				#e60505;
	
	/* socials */
	
	$color-twitter: 	#28aae1;
	$color-facebook:	#3b5a97;
	$color-linkedin:	#016699;
	$color-googleplus:	#ca3d17;
	$color-youtube:		#bb110a;

	/* greys */
	
	$dove:				#666;
	$grey:				#999;
	$silver:			#a0a0a0;
	$alto:				#dddddd;
	$mercury:			#e7e7e7;
	$sand:				#f4f4f4;

	/* oranges */

	$trinidad:			#e55c00;
	$orange:			#ff6600;
	$serenade:			#ffefe5;
	
	/* blues */
	
	$navy:				#000066;
	
	$lavendar:			#bbbddb;
	$snuff:				#dcdeef;

	$cornflower: 		#8ec6e4;
	$babyblue:			#98d4f0;